.all{
    color: black;
    font-family: Verdana,serif;
    background-color: #C9C7C7;
}

#icon{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.img {
    margin-bottom: 5px;
	float:left;
    width:24%;
    min-width: 120px;
}

.icon_item{
    list-style-type: none;
}

.img1 img:last-child{display:none}
.img1:hover img:first-child{display:none}
.img1:hover img:last-child{display:inline-block}

