.all{
    color: black;
    margin: auto;
    font-family: Verdana,serif;
    background-color: #C9C7C7;
}

.link1:link, .link1:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #000000;
    background-color: #61D2FF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.link1:hover, .link1:active {
    background-color: #4FACD1;
}

#icon{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.icon{
	width:100%;
	max-width:250px;
	
}

.item {
	margin-left:5px;
	float:left;
}