#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.all{
    color: black;
    margin: auto;
    font-family: Verdana,serif;
    background-color: #C9C7C7;
}


.menu_link:link, .menu_link:visited{
	display: block;
    width: 100%;
    font-weight: bold;
    color: #000000;
    background-color: #61D2FF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;

}

.menu_item{
    float: left;
    width:25%;
    min-width:120px;
}

.menu_link:hover, .menu_link:active {
    background-color: #4FACD1;
}
