#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.item{
    float: left;
}
.all{
    color: black;
    margin: auto;
    font-family: Verdana,serif;
    background-color: #C9C7C7;
}

a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #000000;
    background-color: #61D2FF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #4FACD1;
}
